<!DOCTYPE html>
<html>
<body>

<div>Hi #{full_name},</div>
<p>Your Email has changed for Imaginated!</p>
<p>To verify your email, please use the link below:</p>
<p><a href="#{link}" target="_blank">Verify your email address</a></p>
<p>Or simply copy this link and paste it in your browser: <a href="#{link}" target="_blank" rel="noreferrer">#{link}</a></p>

</body>
</html>