a{
    text-decoration: none !important;
    color: inherit !important;
  }
.editable{
  cursor: pointer;
}

.editable2{
  cursor: pointer;
  font-weight: 600;
  margin-left: 20px;
}

.each-results-search{
  width: 100%;
  display: grid;
  grid-template-columns: 70px 1fr;
  padding: 5px 5px;
}
.all-results-search{
  max-width: 56rem;
  box-shadow: 0px 4px 11px #888888;
  overflow: hidden;
  margin-right: 150px;
}

.each-results-search:hover {
  background-color: #e9e9e9;
}

.grid-layout-two{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 50px;
  grid-gap: 50px;
}

.margin-top-bottom-three{
  margin: 30px 0;
}

.margin-bottom-10{
  margin-bottom: 10px;
}
.font-size-20{
  font-size: 20px;
}

.grid-column-full{
  grid-column-start: 1;
  grid-column-end: 3;
}

.index-image-container{
  width: 340px;
    height: 350px;
    position: relative;
}

.index-image-container-main{
    height: 350px;
    position: relative;
}

.index-mention-image{
  height: 47px;
  filter: brightness(0);
   opacity: 50%;
  position: relative;
  width: 90%;
  max-width: 220px;
}

.editable-indvidual{
  border: solid blue;
    border-radius: 16px;
    padding: 5px;
}

.editable-textarea{
  height: 250px;
  width: 100%;
}

.index-mention-image-total{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 15px 90px 0px 90px;
  justify-items: center;
}

.width-80{
  width: 80%;
}

.width-137px{
  width: 137px;
}

.width-24rem{
  width: 24rem;
}

.width-90{
  width: 90%;
}

.height-30px{
  height: 36px;
}

.m-left-20{
  margin-left: 20px;
}

.index-featured{
  font-weight: bold;
  text-align: center;
}

.each-results-fullname{
  font-size: 15px;
}

.each-results-subcategory{
  font-size: 12px;
  opacity: 50%;
  white-space: nowrap;
}

.each-results-image{
  margin: 5px 0px 0px 5px;
}

.person-flex{
  display: flex;
}

.delete-container{
    color: red;
    font-size: 20px;
    text-align: center;
    border: 1px solid;
    margin-top: 10px;
}

.underline{
  text-decoration: underline;
}

.margin-left-5{
  margin-left: 5px;
}

.padding-right-5{
  padding-right: 5px;
}

.font-weight-500{
  font-weight: 500;
}

.font-size-14{
  font-size: 14px;
}

.vertical-align-top{
  vertical-align: top;
}

.padding-top-5{
  padding-top: 4px;
}

.padding-top-10{
  padding-top: 10px;
}

.padding-top-15-4{
  padding-top: 8px;
}

.fixed-pixels-top{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.margin-bottom-35{
  margin-bottom: 35px
}

.indiv-gallery-parent > .image-gallery{
  margin: auto;
}

.indiv-gallery-parent{
  margin-top: 50px;
}

.person-grid-col-2{
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.glossary-DropDownOpen{
  position: absolute;
  right: 15px;
  margin-top: 10px;
  cursor: pointer;
}

.glossary-title{
  font-weight: 500;
    font-size: 80%;
    display: inline-block;
    padding-right: 15px;
    cursor: pointer;
}

.glossary-open{
  display: inline-block;
  margin-left: -5px;
  margin-top: 9px;
  position: absolute;
  cursor: pointer;
}

.display-menu{
  display: inline-block;
  
}

.display-menu-title{
  display: inline-block;
  position: absolute;
  padding-top: 0px !important;
  margin-top: -1px;
}

.padding-top-bottom-10{
  padding:10px 0;
}

.padding-left-right-10{
  padding: 0px 10px;
}

.padding-top-bottom-20{
  padding:20px 0;
}
.padding-top-20{
  padding-top:20px;
}

.ptb-140{
  padding: 140px 0;
}

.mgt-12{
  margin-top: 12px
}

.mgl-15{
  margin-left: 15px
}
.padding-top-10{
  padding-top:10px;
}

.padding-bottom-10{
  padding-bottom: 10px;
}

.width-rem-38{
  width: 38rem;
}

.border-none{
  border: none !important;
}

.margin-left-10px{
  margin-left: 10px;
}

.mb-100{
  margin-bottom: 100px;
}

.padding-top-8{
  padding-top: 8px;
}

.index-video-number{
  width: 40px;
  height: 40px;
  text-align: center;
  background: #F2F4F7;
  border-radius: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #98A2B3;
  margin-right: 15px;
  padding-top: 7px;
}

.index-video-title{
  font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
padding: 0px 0 10px;
color: #475467;
}

.position-relative{
  position: relative;
}

.grid-layou-repeat-3-2{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.margin-left-70-0{
  margin-left: 70px;
}

.play-button{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.search-move-videos{
  width: 355px; 
  height: 200px; 
  background-color: #214151; 
  text-align: center;
}

.text-align-center{
  text-align: center;
}

.word-hovered{
  font-weight: bold;
  fill: red;
}

.word-default{
  fill: cadetblue;
  font-weight: normal;
}

.click-only-text {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.popup-word-cloud {
  position: absolute;
  width: 100%;
  min-height: 350px;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 35px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  transform: translateY(-50px);
  z-index: 3;
}
.fill-dark-red{
  color: red;
}

.popup-word-cloud.popup-enter {
  opacity: 0;
  transform: translateY(-50px);
  visibility: hidden;
}

.popup-word-cloud.popup-enter-active {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.popup-word-cloud.popup-exit {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.popup-word-cloud.popup-exit-active {
  opacity: 0;
  transform: translateY(-50px);
  visibility: hidden;
}

.popup-carousel-container{
  width: 95%;
  min-height: 300px;
  margin: 0px 25px;
}

.carousel-control-prev{
  width: 3% !important;
}

.carousel-control-next{
  width: 3% !important;
}
.width-355-0{
  width: 355px;
}

.grid-layout-2-1{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 20px;
}

.exit-top-right{
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 20px;
}

.min-height-300{
  min-height: 310px;
}

.width-100{
  width: 100%;
}

.center-items{
  /* text-align: center;  */
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.wistia_embed{
  width: 620px;
  height: 349px;
}

.height-100{
  height: 100% !important;
}

.margin-top-50{
  margin-top: 50%;
}

.right-10px{
  right: 10px;
}

.hidden-width-1000{
  display: none;
}

.width-325{
  width: 325px;
}
.min-height-200{
  min-height: 200px;
}

.margin-top-23{
  margin-top: 23%;
}

.word-cloud-container{
  width: 100%;
  min-height: 350px;
}

.font-size-24{
  font-size: 24px;
}

.font-size-30{
  font-size: 30px;
}

.position-absolute{
  position: absolute
}

.align-bottom{
  vertical-align: text-bottom;
}


.grid-layout-70-30{
  display: grid;
  grid-template-columns: 70% 25%;
  grid-gap: 5%;
}

.margin-top-bottom{
  padding: 7px 10px;
    cursor: pointer;
}
.margin-top-bottom-user{
  padding: 5.5px 10px;
  cursor: pointer;
  margin: 4px 0;
}

.margin-top-bottom-10{
  margin: 10px 0;
}

.cursor-point{
  cursor: pointer;
}

.width-25{
  width: 25px;
}
.marginb-50{
  margin-bottom: 50px;
}

.grid-custom-cols-2{
  grid-template-columns: repeat(2, minmax(0, 1fr));
} 

.inline-block{
  display: inline-block;
}

.inline-block-block{
  display: inline-block;
}
.float-right{
  float: right;
}

.width-height-25{
  width: 25px;
  height: 25px;
}

.color-dark-blue{
  color: rgb(33 65 81);
}

.center-all{
  margin-left: auto;
  margin-right: auto;
}

.width-max-500{
  max-width: 500px;
}

.color-dark-orange{
  color: #E08B22;
}

.border-selected{
  border: 1px solid rgba(33,65,81, .8);
  box-shadow: 0px 1px 3px 1px rgb(33 65 81 / 40%);
}

.margin-bottom-15 {
  margin-bottom: 1.5rem;
}

.margin-2{
  margin-right: 2rem;
}

.padding-left-right-15{
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.text-large{
  font-size: 20px;
  line-height: 1.75rem;
}
.text-small{
  font-size: 17px;
  line-height: 1.75rem;
}

.display-none{
  display: none;
}

.grid-layour-one-fr{
  display: grid;
  grid-template-columns: 45% 1fr 1fr 1fr;
  text-align: center;
}

.bullet{
  display: inline-block;
  width: 5px;
  /* border: 1px solid black; */
  /* height: 100%; */
  height: 1;
  height: 5px;
  background: grey;
  border-radius: 40px;
  margin: 2px 10px;
}

.padding-none{
  padding-left: 0px;
}

.each-result-name{
  padding: 10px 0px 10px 10px;
  font-size: 16px;
  opacity: 50%;
}

.border-radius-five{
  border-radius: 5px;
}

.each-results-cat-menu{
  padding: 8px 0px 8px 10px;
}

.each-results-cat-menu:hover {
  background-color: #e9e9e9;
}

.overflow-hidden{
  overflow: hidden;
}

.subcat-margin{
  display: inline-block;

}

.subcat-each{
  display: inline-block;
}

.pointing-right{
  font-size: 12px;
  margin-left: 15px;
  color: #CECECE;
}

.blog-individual-link{
  color: #1e73be !important;
  display: inline-block;
  font-size: 15px;
  margin-left: 4px;
}

.image-gallery-thumbnail{
  width: 128px !important;
  /* height: 70px; */
}


.accordion-circle{
  background-color: red;
  width: 15px;
  border-radius: 20px;
  height: 15px;
  margin: 4px 5px 0px 0px;
}

.z-index-6{
  z-index: 6;
}

.individual-popup-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  align-items: flex-end;
}

.individual-popup.open {
  transform: translateY(0);
}

.individual-popup {
  background-color: white;
  width: 100%;
  height: 310px;
  padding: 5px;
  /* transform: translateY(100%); */
  /* transition: transform 0.3s ease-out; */
}

.individual-popup-inner{
  max-height: 200px;
}

.individual-popup-handle {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 75px;
  height: 4px;
  border-radius: 2px;
  background-color: #ccc;
  cursor: grab;
  margin: 20px 0px;
}


.Ind-barchart-main{
  width: 100%;
  height: 170px;
  padding: 55px 15px;
}

.search-barchart-main{
  width: 100%;
  height: 68px;
  margin-bottom: 30px;
  padding-top: 8px;
}



.indiv-barchart-popup{
  position: absolute;
  top: calc(-100% + 5px);
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 5;
  font-size: 12px;
}

.indiv-social-media{
  margin: 1px 10px;
  min-width: 22px;
}

.indiv-grid-main-socials{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
}

.indiv-featured-in{
  font-size: 18px;
  font-weight: 600;
  margin: 40px 0px 20px 0px;
}

.indiv-youtube-video-each{
  width: 95%;
  margin-top: 15px;
}

.indiv-barchart-popup span {
  display: block;
  margin-bottom: 5px;
}

.each-sub-bucket-chart{
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.each-sub-bucket-chart-clicked{
  cursor: pointer;
  width: 100%;
  height: 100%;
  transform: scaleY(1.2);
  transition: transform 0.3s ease-in-out;

}


.each-sub-bucket-chart {
  transition: transform 0.3s ease-in-out;
}

.each-sub-bucket-chart:hover {
  transform: scaleY(1.2);
}

.each_sub-bucket-click{
  transform: scaleY(1.2);
  cursor: pointer;
}

.margin-top-10{
  margin-top: 10px;
}

.margin-top-20{
  margin-top: 20px;
}
.grid-layout-repeat-2{
  grid-template-columns: repeat(2, 1fr);
  display: grid;

}

.grid-layout-repeat-2-1{
  grid-template-columns: repeat(2, 1fr);
  display: grid;

}

.grid-gap-20{
  grid-gap: 20px;
}

.search-header-main{
  font-weight: 600;
  font-size: 17.9373px;
  line-height: 150%;
  margin-top: 25px;
  margin-bottom: 25px;
}

.search-each-result{
  width: 100%;
  display: grid;
  grid-template-columns: 100px 1fr;
}

.font-size-15{
  font-size: 15px;
}

.margin-left-10-desktop{
  margin-left:10px;
}

.font-twofour{
  font-size: 24px;
  line-height: 1.75rem;
  font-weight: 500;
}

.grid-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1260px;
  margin-top: 0.625rem;
  padding-top: 0.5rem!important;
}
.site-content .content-area {
  width: 70%;
}
/* #wtr-content{
  width: 72%;
} */

#wtr-content p strong{
  font-family: Roboto, sans-serif;
  font-size: 24px;
  margin-bottom: 36px;
}

#wtr-content li{
  font-family: Roboto, sans-serif;
  font-size: 24px;
  list-style: disc;
}

#wtr-content p{
  font-family: Roboto, sans-serif;
  font-size: 24px;
  margin-bottom: 36px;
  overflow: hidden;
}

#wtr-content p a{
  text-decoration: underline !important;
  color: #1e73be !important;
}

.individual-share-buttons{
  position: absolute;
    width: 380px;
    padding: 10px 0 10px 15px;
    box-shadow: 2px 3px 5px #999;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: -150px;
    z-index: 1;
    background: white;
}

.individual-contact-buttons{
    margin-left: 0px;
}

.margin-bottom-12{
  margin-bottom: 12px;
}

.margin-right-10{
  margin-right: 10px;
}

.text-md-mobile{
  font-size: 1rem;
  line-height: 1.25rem;
}

.padding-tb-50{
  padding: 50px 0px;
}

.align-content-center{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.individual-share-exit{
  font-size: 50px;
  position: absolute;
  right: 0px;
  margin-top: -5px;
  cursor: pointer;
}

.Blog-Main-Image{
  position: relative;
  width: 100%;
  height: 416px;
}

.About-Main-Image{
  position: relative;
  width: 108px;
  height: 109px;
  margin-right: auto;
    margin-left: auto;
}

.margin-right-five{
  margin-right: 5px;
}

.margin-right-12{
  margin-right: 12px;
}

.width-120px{
  width: 120px;
}

.right-sidebar .sidebar {
  min-width: 300px !important;
}
.is-right-sidebar {
  width: 30%;
}

.site-content{
  display: flex
}

.about-width-two-five{
  width: 250px;
  height: 250px;
}

.About-second-Image{
  position: relative;
  width: 210px;
  height: 75px;
  margin-right: auto;
  margin-left: auto;
}

.about-page-main p {
  margin: 1.2rem;
  font-size: 28px;
}

.about-page-container{
  padding: 40px;
  background: #f9f9f9;
  margin: 75px 0;
}

.about-page-main{
  margin-top: 50px;
}

.wp-block-image .aligncenter {
  margin-left: auto;
  margin-right: auto;
}
.wp-block-image.aligncenter, .wp-block-image .aligncenter, .wp-block-image.alignleft, .wp-block-image .alignleft, .wp-block-image.alignright, .wp-block-image .alignright {
  display: table;
}

.blog-post-image {
  width: 400px;
  height: 230px;
}

.margin-left-top{
  margin-left: 100px;
  margin-top: 10px;
}

.grid-container-blog{
  display: grid;
  grid-gap: 25px;
  grid-template-columns: auto auto auto;
  margin: 80px;
  margin-top: 50px;
}

.grid-container-about{
  display: grid;
  /* grid-gap: 25px; */
  grid-template-columns: auto auto auto;
  margin: 0 106px;
}


.z-index-five{
  z-index: 5;
}

b, strong {
  font-weight: 700;
}

div#ez-toc-container ul li {
  font-size: 90%;
}

#ez-toc-container li, #ez-toc-container ul, #ez-toc-container ul li, div.ez-toc-widget-container, div.ez-toc-widget-container li {
  background: 0 0;
  list-style: none;
  line-height: 1.6;
  margin: 0;
  overflow: hidden;
  z-index: 1;
}
#ez-toc-container li, #ez-toc-container ul {
  padding: 0;
}
#ez-toc-container a:hover {
  text-decoration: underline !important;
}
#ez-toc-container a {
  color: #444 !important;
  box-shadow: none;
  text-decoration: none;
  text-shadow: none;
  font-size: 15px;
}
.cssiconcheckbox{
  display: none;
}
.cssicon{
  display: none;
}

#ez-toc-container #item{
  display: none
}

#ez-toc-container ul ul, .ez-toc div.ez-toc-widget-container ul ul {
  margin-left: 1.5em;
}

#ez-toc-container li, #ez-toc-container ul, #ez-toc-container ul li, div.ez-toc-widget-container, div.ez-toc-widget-container li {
  background: 0 0;
  list-style: none;
  line-height: 1.6;
  margin: 0;
  overflow: hidden;
  z-index: 1;
}
div#ez-toc-container p.ez-toc-title {
  font-weight: 500;
}
div#ez-toc-container p.ez-toc-title {
  font-size: 80%;
}
div#ez-toc-container p.ez-toc-title {
  display: contents;
}

#ez-toc-container p.ez-toc-title {
  text-align: left;
  line-height: 1.45;
  margin: 0;
  padding: 0;
}
#ez-toc-container label {
  float: right;
  position: relative;
  font-size: 16px;
  padding: 0 4px 0 5px;
  border: 1px solid #999191;
  border-radius: 5px;
  cursor: pointer;
  left: 10px;
}
.ez-toc-toggle i.ez-toc-glyphicon, label.cssicon .ez-toc-glyphicon:empty {
  font-size: 16px;
  margin-left: 2px;
}
[class*=ez-toc-icon-] {
  font-family: ez-toc-icomoon!important;
  speak: none;
  font-variant: normal;
  text-transform: none;
}
.ez-toc-glyphicon:empty {
  width: 1em;
}
.ez-toc-icon-toggle:before {
  content: "\e87a";
}

*, ::after, ::before {
  box-sizing: inherit;
}

.ez-toc-glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
}
#ez-toc-container label {
  float: right;
  position: relative;
  font-size: 16px;
  padding: 0 4px 0 5px;
  border: 1px solid #999191;
  border-radius: 5px;
  cursor: pointer;
  left: 10px;
}
#ez-toc-container label {
  float: right;
  position: relative;
  font-size: 16px;
  padding: 0 4px 0 5px;
  border: 1px solid #999191;
  border-radius: 5px;
  cursor: pointer;
  left: 10px;
}



#ez-toc-container{
  
  text-transform: none;
  color: #222222;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  line-height: 1.6;
  box-sizing: inherit;
  background: #f9f9f9;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  display: table;
  margin-bottom: 1em;
  padding: 10px;
  position: relative;
  width: auto;
  padding-right: 20px;
}

.blog-full-year{    
  
  display: inline-block;
  color: #CECECE;
}

.blog-header{
  margin: 15px 0 5px 0;
}

.z-index-5{
  z-index: 5;
}

.ptb-2{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.grid-layout-3{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 20px;
}

.indiv-content-3{
  grid-template-columns: 8fr 1fr 1fr 5fr;
  grid-gap: 10px;
  max-width: 280px;
}

.margin-left-10{
  margin-left: 10px;
}

.grid-layout-end-5{
  grid-column-start: 1;
  grid-column-end: 5;
}
.margin-bottom-ten{
  margin-bottom: 10px;
}
.margin-right-two{
  margin-right: 15px;
}

.margin-bottom-two{
  margin-bottom: 20px;
}

.share-button{
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0;
}
.saboxplugin-wrap {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px;
}

.saboxplugin-wrap .saboxplugin-desc p, .saboxplugin-wrap .saboxplugin-desc {
  font-size: 16px !important;
  line-height: 23px !important;
}
.saboxplugin-wrap a{
  color: #1e73be !important;
}
.wp-block-embed {
  margin: 0 0 1em;
  overflow-wrap: break-word;
}

.wp-content-youtube {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.wp-content-youtube iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.lyte, .lyMe {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  background-color: #777;
}

.lyte-wrapper-audio div, .lyte-wrapper div {
  margin: 0px;
  overflow: hidden;
}
.lyMe iframe, .lyte iframe, .lyte .pL {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%!important;
  background: no-repeat scroll center #000;
  background-size: cover;
  cursor: pointer;
}

.saboxplugin-wrap {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #eee;
  width: 100%;
  clear: both;
  display: block;
  overflow: hidden;
  word-wrap: break-word;
  position: relative;
}

.saboxplugin-wrap .saboxplugin-gravatar {
  float: left;
  padding: 0 20px 20px 20px;
}

.saboxplugin-wrap .saboxplugin-socials {
  position: relative;
  display: block;
  background: #fcfcfc;
  padding: 5px;
  border-top: 1px solid #eee;
}

.saboxplugin-wrap .saboxplugin-socials .saboxplugin-icon-grey {
  text-decoration: inherit;
  box-shadow: none;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  margin: 10px 5px;
  color: #444;
  fill: #444;
}

.saboxplugin-wrap .saboxplugin-socials a svg {
  width: 18px;
  height: 18px;
}

.saboxplugin-wrap .saboxplugin-authorname {
  font-size: 18px;
  line-height: 25px;
  margin: 20px 0 0 20px;
  display: block;
}

.main-secondary-menu{
  position: absolute;
  margin-right: -225px;
}

.p-left-ten{
  padding-left: 1rem;
}

.has-text-align-center {
  text-align: center;
  margin-bottom: 25px;
}

.p-top-left-ten{
  padding-left: 1rem;
  padding-top: 1rem;
}

.openRightBlog{
  position: absolute;
  right: 15px;
  margin-top: 5px;
}

.margin-top-bottom-two{
  margin: 25px 0;
}
.header-main-image{
  border-radius: 12px;
}

.border-radius-four{
  border-radius: 40px;
}

.openRight{
  position: absolute;
  right: 15px;
  margin-top: -24px;
}

.main-author-tab{
  display: grid;
    grid-gap: 25px;
    grid-template-columns: auto auto;

    margin-top: 50px;
}

.main-shop-tab{
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 2fr 1.5fr;

  margin-top: 50px;
}

.font-values-big{
  font-size: 36px;
}

.margin-top-forty{
  margin-top: 40px;
}
.margin-bottom-threeem{
  margin-bottom: 2em;
}
.shop-post-image{
  width: 100%;
    position: relative;
}
.shop-title{
  grid-column: 1 / -1;
  max-width: 1200px;
  font-size: 20px;
  margin-bottom: 30px;
}

.shop-title h1{
  margin: 0 0 30px 0;
}

.shop-article-desc{
  font-size: 24px;
  margin: 30px 0px;
}
.shop-article-desc ul {
  list-style-type: square;
}

.shop-download{
  width: 250px;
  height: 60px;
  background: rgb(33 65 81);
  color: white;
  margin-right: 50px;
  font-weight: 500;
}
.shop-container{
  width: 100%;
  text-align: center;
}

.z-index-one{
  z-index: 1;
}
.font-size-20{
  font-size: 20px;
}

.wtr-content a{
  color: var(--bs-link-color) !important;
  text-decoration: underline !important;
}

.image-gallery{
  max-width: 700px;
  min-width: 500px;
}

@media screen and (max-width: 1000px) {
  .grid-container-blog{
    grid-template-columns: auto auto;
    margin: 50px 40px;
  }
  .grid-layout-end-5{
    grid-column-end: 3;
  }
  .hidden-width-1000{
    display: block;
  }
  .margin-bottom10-phone{
    margin-bottom: 10px;
  }

}

@media screen and (max-width: 850px) {
  .width-24rem{
    max-width: 24rem;
  }
  .width-100-phone{
    width: 100%;
  }
  .shop-download{
    margin-right: 0px;
  }
  .width-355-0{
    width: auto;
  }
  .grid-layout-2-1{
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .popup-carousel-container{
    margin: 0;
  }
  .index-mention-image-total{
    margin: 15px 10px 0px 10px;
    gap: 10px;
  }
  .index-mention-image {
    width: 100%;
  }
  .grid-layout-two{
    grid-template-columns: auto;
  }
  .grid-layout-two{
    padding: 20px;
  }
  .grid-container-blog{
    grid-template-columns: auto;
    margin: 50px 115px;
  }
  .grid-layout-70-30{
    grid-template-columns: 1fr;
    grid-gap: 0px;
  }
  .padding-left-right-15{
    padding-right: 0rem;
    padding-left: 0rem;
  }
  .grid-custom-cols-2{
    grid-template-columns: repeat(1, minmax(0, 1fr));
  } 
  .margin-left-16{
    margin-left: 1rem;
  }
  .inline-block-block{
    display: block;
  }
  .padding-left-20{
    padding-left: .5rem;
  }
  .grid-layour-one-fr{
    grid-template-columns: 40% 1fr 1fr 1fr;
  }
  .site-content .content-area {
    width: 100%;
  }
  #wtr-content{
    width: 100%;
  }
  .site-content{
    margin-left: 20px;
    max-width: 75%;
  }
  .main-shop-tab{
    grid-template-columns: auto;
  }
  .margin-left-70-0{
    margin-left:0px
  }

  .grid-layou-repeat-3-2{
    grid-template-columns: repeat(2, 1fr);

  }
  .pt-phone-0{
    padding-top: 0px;
  }
  .pt-phone-5{
    padding-top: 5px;
  }

}

@media only screen and (max-width: 359px) {
  .site-content {
  max-width: 100% !important;
  margin-left: 0px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  }

  }


@media screen and (max-width: 600px) {
  .wistia_embed{
    width: 380px;
    height: 215px;
  }
  .text-md-mobile{
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .inline-block-650{
    display: inline-block;
  }

  .indiv-content-3{
    grid-template-columns: 8fr 1fr 1fr;  
  }
  .exit-top-right{
    top: 0px;
  }
  .padding-top-15-4{
    padding-top: 4px;
  }
  .index-image-container{
    width: 100%
  }
  .individual-share-buttons{
    margin-left: -75px;
    width: 290px;
  }
  .is-right-sidebar {
    display: none;
  }
  .person-flex{
    display: block;
  }

  .margin-bottom-mobile{
    margin-bottom: 50px;
  }

  .align-center-mobile{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
} 
  .person-grid-col-2{
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .margin-ten-mobile{
    margin-left: 10px;
    margin-right: 10px;
  }
  .margin-2{
    margin-right: 1.5rem;
  }
  .grid-layour-one-fr{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .all-results-search{
    margin-right: 100px;
  }
  .site-content{
    max-width: 90%;
  }
  .grid-container-blog{
    grid-template-columns: auto;
    margin: 50px 10px;
  }
  .blog-title{
    width: 375
  }
  .blog-post-image {
    width: 100%;
  }
  .margin-left-top {
    margin-left: 10px;
    margin-top: 10px;
  }
  .Blog-Main-Image{
    height: 250px;
  }
  .person-margin-left-twelve{
    margin-left: 12px !important;
  }
  .grid-container-about{
    grid-template-columns: auto;
    margin: 0;
  }
  .Ind-barchart-main{
    overflow: hidden;
  }
  .grid-layout-repeat-2-1{
    grid-template-columns: repeat(1, 1fr);
  }
  .search-each-result{
    grid-template-columns: 90px 1fr;
  }
  .margin-left-10-desktop{
    margin-left:0px;
  }
}

@media only screen and (max-width: 400px) {
  .wistia_embed{
    width: 300px;
    height: 169px;
  }
  .width-100-350-phone{
    width: 100%;
  }
}
