.headerContainer{
  width: 100%;
  height: 65px;
  background: #FFFFFF;
}
.HeaderLocation{
  background: #FAFAFA;
  width: 100%;
  height: 172px;
  margin-bottom: 50px;
}
.MainRowNav{
  margin-top: 10px;
}

.CategoryMainTitle{
  display: inline-block;
}

.CategoryCaretFillOpen{
  display: inline-block;
  margin-bottom: 10px;
  cursor: pointer;
  transform: rotate(90deg);
}

.inlin_block_margin_right{
  display: inline-block;
  margin-right: 5px;
}
.inlin_block_margin_left{
  display: inline-block;
  margin-left: 5px;
}

.inline_block{
  display: inline-block;
  margin-right: 5px;
}

.CategoryPageButton{
  width: 288px;
  height: 40px;
}
.CategoryLearnMore{
  margin-top: 50px;
}
.CategoryLeftCol{
  flex: 2 0;
}

.CategoryImage{
  width: 30px;
  height: 30px;
  margin-top: -35px;
  border-radius: 50%;
}

.SubcategoryInput{
  width: 500px;
  margin: 25px 0px;
}
.displayNone{
  display: none;
}
.IndividualImage{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: inline-block;
}

.IndividualReviewOfferings{
  display: inline-block;
    margin: 0px 12px 0px 0px;
    padding: 2px 4px;
    color: black;
    cursor: pointer;
    padding: 7px;
    border: 1px solid #E0E0E0;
}

.IndividualReviewOfferingsSelected{
  display: inline-block;
    margin: 0px 12px 0px 0px;
    background: #F2F2F2;
    padding: 2px 4px;
    color: black;
    cursor: pointer;
    padding: 7px;
    border: 1px solid #E0E0E0;
}

.MainOfferingImage{
  width: 250px;
  height: 220px;
}

.MainOfferingValue{
  width: 250px;
  display: inline-block;
}

.GridLayoutIndividual{
  display: grid;
  grid-template-columns: 100px 2fr 1fr;
  min-height: 175px;
}

.IndividualReviewInlineBlock
{
  box-sizing: border-box;
  display: inline-block;
}

.IndividualReviewImg{
  width: 56px;
}

.IndividualReviewEachMain{
  width: 300px;
  display: inline-block;
}

.IndividualReviewMain{
  margin-bottom: 40px;
}

.IndividualReviewEach{
  background: #F8DC81;
  height: 20px;
}

.DisplayInlineBlock{
  display: inline-block;
  margin-right: 10px;
}

.IndividualGridLayoutDescription{
  grid-column-start: 1;
  grid-column-end: 3;
}

.IndividualGridLayoutBottom{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.IndividualGridDescription{
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 30px 0 50px 0;
}

.IndividualFeatureEach{
  color: #214151;
  text-decoration: none;
}
.IndividualBar{
  display: inline-block;
  margin-left: 10px;
  color: grey;
}

.IndividualLeaveReviews{
  margin-top: 40px;
}

.IndividualSubHeaders{
  margin-right: 25px;
  padding-right: 25px;  
  margin-top: 15px;
  display: inline-block;
  cursor: pointer;

}

.IndividualSubHeadersClicked{
  margin-right: 50px;
  margin-top: 15px;
  display: inline-block;
  border-bottom: 1px solid black;
  padding-bottom: 15px;
  cursor: pointer;
  font-weight: 500;

}

.IndividualBarBlack{
  display: inline-block;
  margin-left: 10px;
}

.GridLayoutImage{
  padding-top: 30px;
}

.Image12PX{
  width: 12px;
  display: inline-block;
}

.TextInline{
  display: inline-block;
}

/* .GridLayoutValues{
  grid-column-start: 2;
    grid-column-end: 5;
} */
.SubcategoryBlock:hover {
  color: black;
}
.SubcategoryBlock{
  display: inline-block;
  margin: 0px 7px 0px 0px;
  padding: 2px 4px;
  background: #F2F2F2;
  color: black;
  text-decoration: none;
  cursor: pointer;
}



.MainHeaderSubcategory{
  font-size: 28px;
}
.displayInlineWidth40{
  display: inline-block;
  width: 40px;
}

.CategoryEachContainer{
  margin-bottom: 20px;
  max-width: 500px;
}
.CategoryEachMainContainer{
  display: inline-block;
}
.CategoryCaretFill{
  display: inline-block;
  margin-bottom: 10px;
  cursor: pointer;
}

.CategorySearch{
  width: 80%;
  font-size: 16px;
  border:1px solid #CECECE;
  margin-top: 10px;
  height: 38px;
  padding-left: 10px;
}

.BrandTagLine{
  color: #214151;
  font-size: 22px;
}

.MainHeaderName{
  font-size: 34px;
  font-weight: bold;
  margin-top: 30px;
}

.MainSubHeaderName{
  font-size: 16px;
  margin-top:5px;
}

.directoryNameEach{
  padding-top: 15px;
}

.MainImage{
  width: 154px;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
